<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='stylesheet' type='text/css' href='{{ .Site.BaseURL }}/style.css'>
	<link rel='stylesheet' type='text/css' href='{{ .Site.BaseURL }}/single.css'>
	<link rel='stylesheet' type='text/css' href='{{ .Site.BaseURL }}/waves.css'>
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
	{{ if .Params.math }}{{ partial "helpers/katex.html" . }}{{ end }}
</head>
<body>
<main>
<article>
{{ block "main" . }}
{{ .Content }}
{{ end }}
</article>
</main>
</body>
</html>
