<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<top-nav>
	<ul>
		<li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home"></i><span class="nav-text"> Principal</span></a></li>
		<li>
			<div class="search-btn opacity"><i class="fa fa-search"></i></div><a class="opacity nav-text">Buscar...</a>
		</li>
		<li><a href=""><i class="fa fa-envelope-o"></i><span class="nav-text"> Contacto</span></a></li>
	</ul>
</top-nav>
