<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<top-nav>
	<ul>
		<li><a href="https://github.com/Bersp" target="_blank"><i class="fa fa-github"></i><span class="top-nav-text"> GitHub</span></a></li>
		<li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home"></i><span class="top-nav-text"> Principal</span></a></li>
		<!--<li>-->
			<!--<div class="search-btn opacity"><i class="fa fa-search"></i></div><a class="opacity top-nav-text">Buscar...</a>-->
		<!--</li>-->
		<li><a href="mailto:esp.bernardo@gmail.com"><i class="fa fa-envelope-o"></i><span class="top-nav-text"> Contacto</span></a></li>
	</ul>
</top-nav>
