{{ define "main"}}

<div class="content">
	{{ partial "nav.html" . }}
	<header>
		<h1 class="spaced-uppercase">{{ .Title }}</h1>
		<h2 class>Publicaciones</h2>
	</header>

	<div class="blog-body">
		<div class="blog-title">
			<a>{{ .Content }}</a>
		</div>
	</div>

	<div id="list-page">
		{{ range .Pages }}
		<a href="{{ .RelPermalink }}">
			<div class="subject-container">
				<div class="subject-body">
					<div class="subject-title">
						<h1>{{ .Title }}</h1>
						<h2>{{ .Summary }}</h2>
					</div>
				</div>
			</div>
		</a>
		{{ end }}
	</div>
</div>


<!--Waves Container-->

<div class='footer-block'> </div>
<div>
	<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28"
		preserveAspectRatio="none" shape-rendering="auto">
		<defs>
			<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
		</defs>
		<g class="parallax">
			<use xlink:href="#gentle-wave" x="48" y="0" fill="#9DB0B3" fill-opacity="1.0" />
			<use xlink:href="#gentle-wave" x="48" y="3" fill="#c2d9dc" fill-opacity="1.0" />
			<use xlink:href="#gentle-wave" x="48" y="5" fill="#8896A6" fill-opacity="1.0" />
			<use xlink:href="#gentle-wave" x="48" y="7" fill="#EBEDF2" fill-opacity="1.0" />
		</g>
	</svg>
</div>
<!--Waves end-->
<div class="footer" style='font-weight: 500'>
	<p> Bernardo L. Español </p>
</div>

{{ end }}
