:root {
	--clr-light: #EBEDF2;
	--clr-dark: #2E3440;
	--clr-gray: #5C6570;

	--fs-body: 1.15rem;
	--fs-h4: 1.2rem;
	--fs-h3: 1.3rem;
	--fs-h2: 1.5rem;
	--fs-h1: 1.8rem;
}

@media (max-width: 40rem) {
	:root {
		--fs-body: 1rem;
		--fs-h4: 1.05rem;
		--fs-h3: 1.15rem;
		--fs-h2: 1.35rem;
		--fs-h1: 1.65rem;
	}
}

.single-content {
	width: min(90%, 50rem);
	margin: auto;
	/*padding-inline: 10rem;*/
	/*background-color: rgba(255, 255, 255, .1);*/
	/*box-shadow: 0 1px 10px 0 rgba(136, 150, 166, .1);*/
}

.single-content h1, h2, h3, h4, body{
	color: var(--clr-dark);
	font-size: var(--fs-body);
}

.single-content h1 {
	font-size: var(--fs-h1);
}
.single-content h2 {
	font-size: var(--fs-h2);
}
.single-content h3 {
	font-size: var(--fs-h3);
	font-weight: 500;
	/*margin-bottom: -10px;*/
}

.single-title {
	color: var(--clr-dark);
	font-family: "Lato", sans-serif;
	font-size: 30pt;
	font-weight: 300;
	text-align: center;
	padding: 20px;
	padding-top: 40px;
}

figure {
	margin: auto;
  width: 50%;
}

